body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: sans-serif;
}

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#gameContainer {
	width: 2500px;
	height: 2500px;
}

.gameDeckContainer {
}

.gameDeckContainer.horizontal {
	margin-left: 10%;
	height: 10%;
	width: 80%;
}

.gameDeckContainer.vertical {
	float: left;
	width: 10%;
	height: 80%;
}

#gameBoardContainer {
	position: relative;
	float: left;
	width: 80%;
	height: 80%;
}

#gameBoard {
	width: 100%;
	height: 100%;
	background-image: url('img/fieldBg.png');
	border: solid 30px #233E81;
}

.fieldList {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.fieldList.horizontal {
	height: 15.38461%;
}

.fieldList > li > div {
	height: 100%;
	width: 100%;

	border: solid 2px black;
}

.fieldList.horizontal > li {
	float: left;
	width: 7.692307%;
	height: 100%;
}

.fieldList.horizontal > li > div {
	border-left: none;
}

.fieldList.horizontal > li:first-child > div {
	border: solid 2px black;
}

.fieldList.horizontal li:first-child,
.fieldList.horizontal li:last-child {
	width: 15.38461%;
}

#midContainer {
	width: 100%;
	height: 69.23078%;
}

#midContainer .midArea {
	float: left;
}

#mid {
	width: 69.23078%;
	height: 100%;
}

.fieldList.vertical {
	width: 15.38461%;
	height: 100%;
}

.fieldList.vertical > li {
	width: 100%;
	height: 11.1111%;
}

.fieldList.vertical > li > div {
	border-top: none;
}

.fieldList.vertical > li:last-child > div {
	border-bottom: none;
}

.fieldList .text {
	text-transform: uppercase;
	text-align: center;
}

.fieldList .fieldContent {
	height: 100%;
}

.fieldList .price {
	height: 60%;
}

.price .text {
	padding: 5px;
}

.descriptionContainer {
	width: 100%;
	height: 40%;
}

.fieldName {
	height: 60%;
	padding: 10px;
}

.fieldColor {
	width: 100%;
	height: 40%;
	border-top: solid 2px black;
}

.fieldColor.red {
	background-color: #FE0000;
}

.fieldColor.orange {
	background-color: #FE9601;
}

.fieldColor.yellow {
	background-color: #FFF001;
}

.fieldColor.green {
	background-color: #3A9509;
}

.fieldColor.blue {
	background-color: #013483;
}

.fieldColor.lightBlue {
	background-color: #01A2D9;
}

.fieldColor.brown {
	background-color: #976713;
}

.fieldColor.pink {
	background-color: #FF006C;
}

.fieldList.top .text {
	-webkit-transform: rotate(-180deg);
}